body {
    box-sizing: border-box;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

input {
    all: unset;
    border: 1px solid;
    color: lightgrey;
}

.page-header {
    display: flex;
    align-items: center;
    background-color:#333;
    color: white;
    padding: 10px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.menu-wrap {
    display: flex;
    width: 100%;
    max-width: 1170px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
}
.main-menu-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    min-height: 50px;
}
.menu-links {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-links a {
    display: flex;
    justify-content: center;
    width: 33%;
}
.account-wrap {
    display: flex;
    width: 15%;
    justify-content: flex-end;
}
.account-options {
    list-style: none;
    top: 0%;
    right: 10%;
    padding: 20px;
    position: absolute;
    background-color: #333;
}
.account-options li {
    cursor: pointer;
}
.account-options-hidden {
    display: none;
}

.account-icon::before {
    content: url('./img/lk.png');
    max-width: 50px;
}

.footer {
    margin: 0 auto;
    padding: 25px;
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-top {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
}
.footer-bottom {
    width: 100%;
    max-width: 1170px;
}
.footer-logo-block {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
    max-height: 250px;
}
.footer-menu-wrap {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
}
.footer-column {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 300px;
    min-height: 250px;
    align-items: flex-start;
}
.footer-column-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.footer-link {
    margin-bottom: 5px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1170px;
    padding: 0 16px;
    align-items: center;
    margin-bottom: 20px;;
}
.characterequip-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.character-total-wrap {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.equip-container-wrap  {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-width: 50%;
}
.character-photo-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 40%;
}
.character-photo {
    display: flex;
    max-width: 200px;
    border: 1px solid;
    margin-bottom: 20px;
}
.character-photo img {
    max-width: 200px;
}
.add-photo-wrap {
    margin-bottom: 20px;
}
.character-damage-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.character-damage-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 20px;
}
.character-damage-name, .character-damage-bonuce, .character-damage-type, .character-damage-range {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.character-damage-empty, .cube-block-wrap {
    width: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.caracter-damage-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.weapon-name-wrap, .weapon-bonuce-wrap, .weapon-damage-type-wrap, .weapon-range-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.weapon-name-item, .weapon-bonuce-item, .weapon-damage-type-item, .weapon-range-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.character-total-inner-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.character-total-stats-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    flex-wrap: wrap;
    width: 55%;
}
.character-total-info, .stats {
    margin-bottom: 20px;
}

.stat-bonuce::before, .atr-bonuce::before {
    content: '(';
}
.stat-bonuce::after, .atr-bonuce::after {
    content: ')';
}
.character-total-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.character-total-link-main {
    max-width: 33%;
    margin-left: 20px;
}
.character-total-link-main:first-child {
    margin-left: 0;
}

.equip-container-body {
    background-position-y: 40%;
    display: flex;
    background-position-x: 79%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-image: url(./img//silhouette.jpeg);
    background-repeat: no-repeat;
}
.equip-left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.equip-right-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
}
.visual-equip-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.visual-equip-item-title {
    display: flex;
}
.visual-equip-item-class {
    background-color: gray;
    color: white;
}
.visual-equip-item-body {
    border: 1px solid;
    min-width: 150px;
    min-height: 50px;
    background-color: white;
}
.visual-equip-item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.equip-head-wrap, 
.equip-armor-wrap, 
.equip-waist-wrap, 
.equip-hands-wrap,
.equip-feet-wrap,
.equip-neck-wrap,
.equip-weapon-wrap,
.equip-arms-wrap,
.equip-l-ring-wrap,
.equip-r-ring-wrap {
    margin-bottom: 15%;
    position: relative;
}
.character-total-attributes-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.character-total-attributes-left, .character-total-attributes-right {
    width: 50%;
    margin-bottom: 20px;
}
.inventory-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
}
.inventory-total {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.inventory-title {
    background-color: gray;
    min-height: 30px;
    background-color: gray;
    display: flex;
    align-items: center;

}
.inventory-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px;
}
.item-name, .item-type, .item-link {
    display: flex;
    align-items: center;
    width: 33%;
    min-height: 25px;
    margin: 2px;
    max-height: 30px;
}