body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    overflow-y: scroll;
}

input {
    all: unset;
    border: 1px solid;
    color: lightgrey;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1170px;
    min-width: 1024px;
    align-items: center;
}
.spellbook-header-section, .spellbook-section {
    width: 100%;
    margin-bottom: 20px;
}
.spllbook-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.caster-class {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    padding: 20px;
}
.spell-parameters {
    display: flex;
    width: 60%;
    justify-content: center;
    padding: 20px;
    background-color: whitesmoke;
}
.spell-parameters label {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 170px;
    font-size: 16px;
}
.caster-class-input-wrap, 
.caster-characteristic-input, 
.caster-trials-input, 
.caster-attack-bonuce-input,
.caster-class-input {
    width: 100%;
    min-height: 40px;
}
.caster-characteristic-input-wrap, .caster-trials-input-wrap, .caster-attack-bonuce-wrap {
    max-width: 33%;
}
.caster-characteristic-input-wrap, .caster-trials-input-wrap {
    margin-right: 5%;
}
.spellbook-section {
    margin-top: 20px;
}
.spellbook-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    border: 1px solid lightgrey;
}
.spellbook-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.spellbook-block-wrap {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    width: 29%;
    padding: 20px;
    max-width: 33%;
    flex-direction: column;
}
.spellbook-block-header {
    align-items: center;
    position: relative;
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    max-height: 40px;
    margin-bottom: 15px;
}
.spell-level::before {
    top: -8px;
    content: '0';
    position: absolute;
    left: -122%;
}

.spell-level, 
.spell-level-3, 
.spell-level-6,
.spell-level-1,
.spell-level-4,
.spell-level-7,
.spell-level-2,
.spell-level-5,
.spell-level-8,
.spell-level-9 {
    display: inline-flex;
    width: 10%;
    justify-content: flex-start;
    border-top: 25px solid transparent;
    border-left: 50px solid lightgray;
    border-bottom: 25px solid transparent;
    position:relative;
    left: -2%;
    border-radius: 2px;
}

.spell-level-3::before {
    top: -8px;
    content: '3';
    position: absolute;
    left: -122%;
}
.spell-level-6::before {
    top: -8px;
    content: '6';
    position: absolute;
    left: -122%;
}
.spell-level-1::before {
    top: -8px;
    content: '1';
    position: absolute;
    left: -122%;  
}
.spell-level-4::before {
    top: -8px;
    content: '4';
    position: absolute;
    left: -122%;  
}
.spell-level-7::before {
    top: -8px;
    content: '7';
    position: absolute;
    left: -122%;  
}

.spell-level-2::before {
    top: -8px;
    content: '2';
    position: absolute;
    left: -122%;  
}
.spell-level-5::before {
    top: -8px;
    content: '5';
    position: absolute;
    left: -122%;  
}

.spell-level-8::before {
    top: -8px;
    content: '8';
    position: absolute;
    left: -122%;  
}
.spell-level-9::before {
    top: -8px;
    content: '9';
    position: absolute;
    left: -122%;  
}

.spell-cell-param {
    position: absolute;
    width: 74%;
    display: inline-flex;
    justify-content: flex-start;
}
.spell-cell-all-wrap {
    display: flex;
    justify-content: center;
}
.spell-cell-current-wrap {
    display: flex;
    width: 90%
}
.spell-cell-all, .spell-cell-current {
    max-width: 50%;
    justify-content: flex-end;
    padding: 5px;
    
}
.spell-cell-param label {
    font-size: 12px;
    max-width: 30%;
    display: flex;
    justify-content: center;
}

.spell-cell-title {
    display: flex;
    margin: 0 5px;
}

.spell-category {
    left: 13%;
    position: absolute;
    width: 77%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    min-height: 100%;

}
.spellbook-items-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.spellbook-item-input-wrap {
    display: flex;
    width: 100%;
}
.spellbook-input-circle:before {
    content: '◯';
    font-size: 12px;
    margin: 0 5px;
}
.spellbook-item-input {
    width: 100%;
    min-height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
}