body {
    box-sizing: border-box;
    max-width: 1170px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}
input {
    all: unset;
    border: 1px solid black;
}
.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-width: 1024px;
    max-width: 1920px;
    align-items: center;
}
.character-appirance-header-section, .character-appirance-body-section {
    width: 100%;
    margin-bottom: 20px;
}
.character-appirance-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.character-name-wrap {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 35%;
}
.character-name-input-wrap {
    display: flex;
    width: 100%;
}
.character-name-input-wrap label {
    width: 80%;
}
.character-name-input {
    width: 100%;
    min-height: 50px;
}
.character-appirance-wrap {
    display: inline-flex;
    padding: 10px;
    border: 1px solid;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
}
.character-appirance-row-1, .character-appirance-row-2 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 65%;
    min-width: 650px;
    width: 60%;
}

.character-appirance-age-input-wrap, .character-appirance-height-input-wrap,
.character-appirance-weight-input-wrap, .character-appirance-eyes-input-wrap,
.character-appirance-skin-input-wrap, .character-appirance-hair-input-wrap {
    width: 33%;
    max-width: 33%;
    margin: 10px 5px;
}


.character-appirance-age-input-wrap input, .character-appirance-height-input-wrap input,
.character-appirance-weight-input-wrap input, .character-appirance-eyes-input-wrap input,
.character-appirance-skin-input-wrap input, .character-appirance-hair-input-wrap input {
    border-width: 0 0 1px;
    margin: 0 5px 0 0;
    border-bottom: 1px solid;
}
.appirance-body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.appirance-desciption-container  {
    display: inline-flex;
    width: 35%;
    min-height: 400px;
}
.appirance-desciption-wrap {
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
    margin-right: 5%;
}
.allies-and-organizations-wrap {
    display: inline-flex;
    width: 65%;
    flex-wrap: wrap;
}
.appirance-description-area {
    height: 100%;
    width: 100%;
    border: 1px solid;
}

.appirance-description-title-bottom {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}