body {
    margin: 0;
    overflow-x: hidden;
    background-color: #F6F5F4;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}


h1, h2, h3, h4, h5 {
    font-family: Georgia, serif;
}
h1 {
    font-size: 46px;
}

input {
    all: unset;
}
.page-header {
    display: flex;
    align-items: center;
    background-color:#ECD073;
    color: white;
    padding: 10px;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #C14B3C;
}
.menu-wrap {
    display: flex;
    width: 100%;
    max-width: 1170px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-menu-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    min-height: 50px;
}
.menu-links {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu-btn {
    color: #000;
    width: 120px;
    padding: 5px;
    border: 1px solid  transparent;
}
.menu-btn:hover {
    color: #C14B3C;
}
.menu-links a {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin:0 15px;
    text-decoration: none;
}
.logo-wrap {
    display: flex;
    width: 15%;
    max-width: 200px;
    max-height: 50px;
    justify-content: flex-start;
}
.account-wrap {
    display: flex;
    width: 15%;
    justify-content: flex-end;
}
.account-options {
    list-style: none;
    top: 0%;
    padding: 20px;
    position: absolute;
    color: #000;
    background-color: #ECD073;
}
.account-options li {
    cursor: pointer;
}
.account-options-hidden {
    display: none;
}

.account-icon::before {
    content: url('./img/lk.png');
    max-width: 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    max-width: 1400px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    position: relative;
    flex: 1 0 auto;
}
.footer {
    margin: 0 auto;
    padding: 10px;
    background-color: #3A2E32;
    color: #C14B3C;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex: 0 0 auto;
    width: 100%;
}
.footer h4 {
    font-size: 18px;
}
.footer a {
    color: #C14B3C;
}
.footer-top {
    width: 100%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1170px;
}
.footer-bottom {
    width: 100%;
    max-width: 1170px;
}
.footer-logo-block {
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: flex-start;
    max-height: 250px;
}
.footer-menu-wrap {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
}
.footer-column {
    display: flex;
    flex-direction: column;
    width: 33%;
    max-width: 300px;
    min-height: 250px;
    align-items: flex-start;
}
.footer-column-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.footer-link {
    margin-bottom: 5px;
}
.lk-user-main-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.lk-user-info-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 24%;
}

.lk-user-characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
}
.lk-user-characters-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.lk-user-character-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 420px;
    min-height: 50px;
    border: 1px solid;
    margin-bottom: 20px;
    cursor: pointer;
}
.character-item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.character-avatar {
    width: 25%;
}
.character-avatar img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
.character-name-wrap {
    display: flex;
    width: 25%;
    justify-content: center;
    min-width: 150px;
}
.character-control-wrap {
    display: flex;
    width: 25%;
    justify-content: center;
    min-width: 150px;
}
.character-edit-btn {
    margin-right: 5px;
}
.character-edit-btn button, .character-remove-btn button {
    cursor: pointer;
}

.lk-user-add-character-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.user-avatar-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.user-avatar-wrap img {
    max-width: 75px;
    max-height: 75px;
    min-width: 75px;
    max-width: 75px;
    border: 1px solid;
    border-radius: 50%;
}
.user-name-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.user-control-wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.user-control-control-edit-btn, .user-control-exit-btn  {
    width: 50%;
    margin-left: 5px;
}
.user-control-edit-btn button, .user-control-exit-btn button {
    cursor: pointer;
}
.lk-user-character-preview-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 29%;
    border: 1px solid;
    padding: 5px;
}